body {
  padding-top: 50px;
  position: relative;
}

header {
  padding-top: 20px;
}

section {
  padding-top: 70px;
  padding-bottom: 200px;
}

.pricing {
  font-size: 20px;
}

.pricing-cross {
  color: red;
}

.pricing-check {
  color: green;
}
